PORT=5000
MONGODB_URI=mongourldeconexionejemplo
CORS_ORIGIN=direccionurlejemplo
JWT_SECRET=jwtejemplo
SERVER_URL=urlejemploservidor
SUPABASE_URL=urlejemplosupabase
SUPABASE_SECRET_KEY=keysupabaseejemplo
CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=coludinary_api_secret